{% extends 'interface/base.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    <style type="text/css">
        h1{
            display: block;
            margin-block-start: 1.7em;
            margin-block-end: 0.67em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
        button{
            display: block;
            margin-block-start: 3em;
            margin-block-end: 0.67em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
    </style>
    
    <h1>QRbooks приостанавливает свою работу на территории РФ </h1>
    <h1>отсканируйте код с учебника</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-success" type="submit">сканировать код</button>
    </form>
{% endblock %}
